body{
    background-color:#f4eaf5;
    margin:0;
    padding: 20px;
}

h1{
    color:rgb(164, 36, 168);
    padding:25px;
    text-align: center;
    font-family:Arial, sans-serif;
}

.navbar{
    background-color: #f09dd0; 
    text-transform: capitalize;
    padding: 15px 0;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 8px;
    gap: 20px;
}

.navbar a {
  color:rgb(164, 36, 168);
  text-decoration: none;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 16px;
  transition: background 0.3s;
  font-family: 'Segoe UI',Arial, sans-serif;
  align-items: center;
}

.navbar a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}

/* Az éppen aktív oldal kiemelése */
.navbar a.active {
  background-color: rgba(0, 0, 0, 0.1);
}

.navbar a:not(:last-child)::after {
  content: "|";             
  margin-left: 20px;        
  color:rgb(164, 36, 168);
  font-weight: normal;   
}

aside{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    
}

img {
    border-radius: 8px;
    width: 50%;
}

footer{
    background-color: #f09dd0; 
    color: rgb(164, 36, 168);
    text-transform: capitalize;
    padding: 15px 0;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    margin-top: 15px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 8px;
    font-weight: bold;
    font-family: 'Segoe UI',Arial, sans-serif;
}