body {
    font-family: 'Segoe UI', Arial, sans-serif;
    background-color: #fafafa;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Felső navigáció és Vissza gomb */
.top-nav {
    padding: 20px;
    display: flex;
    justify-content: flex-start;
}

.back-button {
    text-decoration: none;
    color: #a349a4;
    background-color: white;
    padding: 8px 20px;
    border-radius: 5px;
    border: 1px solid #a349a4;
    font-weight: bold;
    font-size: 14px;
    transition: all 0.3s;
}

.back-button:hover {
    background-color: #a349a4;
    color: white;
}

.container {
    width: 90%;
    max-width: 850px;
    margin: 0 auto;
}



.logo-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.logo-title .emoji {
    font-size: 40px;
    background: #f0f0f0;
    padding: 10px;
    border-radius: 10px;
}

h1 {
   color: #a349a4;       
    text-align: center;   
    width: 100%;          
    margin-top: 20px;     
    margin-bottom: 30px;
}

/* Form kártya */
.form-card {
    background: white;
    padding: 30px;
    border-radius: 10px;
    border: 1px solid #eee;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    margin-bottom: 40px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #444;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Lila hozzáadás gomb */
#main-button {
    width: 100%;
    max-width: 300px;
    display: block;
    margin: 20px auto 0;
    background-color: #df80df;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

/* Táblázat */
.table-container {
    background: #f3e5f5; /* Világos lila háttér a táblázatnak */
    border-radius: 5px;
    padding: 1px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    table-layout: fixed;
}

th {
    background-color: #e1bee7;
    color: #4a148c;
    padding: 15px;
}

td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #f0f0f0;
}

.btn-edit { background-color: #ffb74d; color: white; border: none; padding: 6px 12px; border-radius: 4px; cursor: pointer; }
.btn-delete { background-color: #ef5350; color: white; border: none; padding: 6px 12px; border-radius: 4px; cursor: pointer; }